/* *{
    border: salmon dotted 1px;
} */

.rating{
    display: flex;
    justify-content: space-around;
}

.rating__inner-left{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rating__inner-left_inner{
    width: 80%;
}
.rating__title{
    font-size: 24px;
}


.rating__inner-right {
    width: 50%;
    padding: 10px;
}

.rating__form_textarea{
    width: 90%;
}

.rating__table_submit-button{
    background-color: white;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}







/* 星マーク */
.rating__form_star{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
.rating__form_star input{
    display: none;
}
.rating__form_star label{
    font-size: 2rem;
    color: #D2D2D2;
    cursor: pointer;
}
.rating__form_star label:hover,
.rating__form_star label:hover ~ label,
.rating__form_star input:checked ~ label {
    color: rgb(100, 100, 255);
}


.error{
    color: red;
}