/* *{
    border: salmon dotted 1px;
} */

.rating{
    display: flex;
    justify-content: left;
}

.rating__inner-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rating__inner-left_inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: #D2D2D2 solid 1px;
}
.rating__shops-card{
    width: 300px;
}
.rating__title{
    font-size: 24px;
}


.rating__inner-right {
    width: 50%;
    padding-left: 50px;
}

.rating__form{
    position: relative;
}

.rating__form_ttl{
    margin-bottom: 10px;
}

.rating__form_textarea{
    width: 100%;
    padding: 5px;
    color: gray;
    border: gray solid 1px;
}
.rating__text-count{
    margin-top: 0;
    text-align: right;
    font-size: 12px;
}

.rating__image *{
    background-color: white;
    border-radius: 5px;
}
.rating__image_drop-area{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
.rating__image_drop-area span{
    font-size: small;
}
.rating__image_selected-file{
    text-align: center;
    font-size: 12px;
}

.rating__submit-button{
    background-color: white;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -80px;
    left: -40%;
}



/* 星マーク */
.rating__form_star{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
.rating__form_star input{
    display: none;
}
.rating__form_star label{
    font-size: 2rem;
    color: #D2D2D2;
    cursor: pointer;
}
.rating__form_star label:hover,
.rating__form_star label:hover ~ label,
.rating__form_star input:checked ~ label {
    color: rgb(100, 100, 255);
}

.error{
    color: red;
}

/* 口コミ編集ページ */
.rating-update__inner{
    width: 50%;
}

.rating-update__current-image{
    display: inline-block;
}
.rating-update__submit-button{
    background-color: white;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
.rating-update__remove-image{
    border: none;
    border-radius: 3px;
}


/* 口コミ一覧ページ */
.return{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: gray 2px 2px 2px;
    cursor: pointer;
    transform: translate(0, -5px);
    position: relative;
    z-index: 10;
}

.all-reviews__table{
    width: 100%;
    text-align: center;
}

.all-reviews__table-stars{
    width: 15%;
}
.all-reviews__table-comment{
    width: 50%;
}
.all-reviews__table-image{
    width: 20%;
}
.all-reviews__table-user{
    width: 10%;
}
.all-reviews__table-admin{
    width: 5%;
}

.all-reviews__table-comment_td{
    padding-left: 20px;
    text-align: left;
}
.all-reviews__admin-delete_button{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(77, 77, 255);
}

.all-reviews__ttl_row{
    border-bottom: gray double 1px;
}
.all-reviews__table_row:not(:last-child){
    border-bottom: gray solid 1px;
}


.all-reviews__table_stars{
    font-size: 30px;
    letter-spacing: -8px;
    color: rgb(100, 100, 255);
}